# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idb
*.pdb
*.ilk
/.vs
/simplest_mediadata_test-master.zip
/depends/ffmpeg-n4.4-18-gc813f5e343-win64-gpl-4.4.zip
/.intermediate
